# Gradle & build outputs
/.gradle/
/build/
*/build/
!gradle/wrapper/gradle-wrapper.jar

# Local logs/artifacts
build_*.txt
compile_*.txt
tasks_output.txt
*.hprof

# Local configuration
/local.properties
*.keystore
*.jks
*.pem

# IDE files
*.iml
.idea/
.vscode/

# Logs & reports
*.log
/captures/

# Native/NDK
.cxx/
.externalNativeBuild/

# Misc
.DS_Store
